.search-container {
  display: flex;
  width: 100%;
  justify-content: center;
} 

.search {
  align-self: center;
  padding: 10px;
  width: 85%;
  font-size: 18px;
  text-transform: capitalize;
}

.search:focus {
  border: 2px solid #61dafb;
  outline: none;
}

.option {
  display: block;
  font-size: 18px;
  margin: 10px 0px;
  text-transform: capitalize;
  color: black;
  width: fit-content;
}
.display-container {
  border-radius: 0px 0px 10px 10px;
  background-color: whitesmoke;
  overflow: scroll;
  align-self: center;
  width: 85%;
  max-height: 15vh;

}
.search-display-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 20vh;
  width: 100%;
}

.timezones-list {
  margin: 10px 0px;
}
.add-card-button{
  height: 4vh;
  width: 15%;
  margin-top: 0.1em;
  margin-right: 1em;
}