.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  padding: 14px;
  margin: 15px;
  width: 20%;
  min-height: 180px;
  background-color: white;
  color: black;
  box-shadow: -1px 1px 11px 4px black;;
}
@media screen and (max-width:1200px) {
  .card{
    width: 40%;
  }
    
}
@media screen and (max-width: 600px) {
  .card{
    width: 40%;
  }
    
}
.card > div {
  font-weight: 200;
  font-size: 1em;
}
.card > b {
  font-size: 0.6em;
  word-break: break-word;
}

.card-button{
  align-self: flex-end;
  background-color: white;
  border: none;
  cursor: pointer;
}

.card-content {
  margin: 10px;
}

.cards-section-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 68%;
  height: auto;
  padding: 10px;
}